<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="tests/TestBootstrap.php"
         cacheDirectory="/tmp/phpunit-contentcreator"
         colors="true"
         failOnWarning="true"
         failOnNotice="true">
    <testsuites>
        <testsuite name="ContentCreator">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
